        <div class="row">
            <div class="col-md-0">
            </div>
            <div class="col-md-6 col-md-offset-3">
                <h2 class="text-center"> Add Movie </h2>
                <div class="jumbotron">
                    <form #f="ngForm">
                        <label>Name</label>
                        <input type="text" name="name" [(ngModel)]="selectedProduct.name" placeholder="Enter movie name...">
                        <br>
                        <label>Amount</label>
                        <input type="text" name="price" [(ngModel)]="selectedProduct.price" placeholder="Enter movie price" >
                        <br>
                        
                        <input type="button" (click)="createOrUpdateProduct(f)" value="Create or Update Movie">
                    </form>
                </div>
            </div>
            <div class="col-md-0">
            </div>
        </div>
        <br />

            <table class="table table-striped table-bordered">
                <thead class="thead-dark">   
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Operations</th>
                </tr>
            </thead>
                <tr *ngFor="let product of products">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <i (click)="selectProduct(product)" class="fa fa-edit" style="font-size:20px;color: darkmagenta;"></i> 
                        <i id="del" (click)="deleteProduct(product.id)" class="fa fa-trash" style="font-size:20px;color: rgb(253, 8, 8);padding-left: 8px;"></i>
                    </td>
                            
                            </tr>
            </table>